#footer {
  position: relative;
  background-color: $black;
  background-image: url(../img/bg-footer.png);
  padding: 40px 0 0;
  .footer_bg {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .container {
    position: relative;
    z-index: 2;
  }
  .row {
    display: flex;
    justify-content: space-between;
    @media #{$sm} {
      flex-wrap: wrap;
    }
    .col {
      @media #{$sm} {
        // margin-bottom: 20px;
        width: 100%;
      }
      &:nth-child(1) {
        flex: auto;
        @media #{$sm} {
          order: 2;
        }
      }
    }
  }
  * {
    color: #fff;
  }
  .row_two_column {
    .col {
      margin-bottom: 30px;
    }
    .footer__socialmedia,
    .logo img {
      margin-bottom: 30px;
      // display: block;
    }
  }
  .top {
    margin-bottom: 30px;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 20px;
  }
  .bottom {
    margin-bottom: 30px;
    .col {
      &:nth-child(1) {
        .footer__desc {
          p {
            font-size: 12px;
          }
        }
      }
      &:nth-child(2) {
        .footer__desc {
          text-align: right;
          @media #{$sm} {
            text-align: left;
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  .footer__socialmedia {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    li {
      a {
        padding: 10px;
        path {
          fill: #ffff;
        }
        &:hover {
          opacity: 0.8;
        }
      }
      &:first-child {
        a {
          padding-left: 0px;
        }
      }
    }
  }
  .footer__desc {
    max-width: 380px;
    width: 100%;
    p {
      margin: 0;
      padding: 0;
      font-size: 14px;
      line-height: 20px;
    }
  }

  ul.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
    @media #{$sm} {
      gap: 10px;
    }
    li {
      span,
      a {
        margin: 0;
        padding: 0px;
        font-size: 12px;
        line-height: 20px;
      }
      &:nth-child(1) {
        a,
        span {
          padding-left: 0px;
        }
      }
    }
  }
}

.footer-contact__call {
  position: fixed;
  z-index: 999;
  bottom: 10px;
  right: 10px;
  position: fixed;
  z-index: 999;
  bottom: 10px;
  right: 10px;
  width: 48px;
  height: 48px;
  padding: 10px;
  background: #fff;
  border-radius: 100%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.14);

  display: none;
  @media #{$sm} {
    display: block;
  }

  .footer-contact__call__wraper {
    background-color: #fff;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    padding: 10px;
    svg {
      width: 100%;
      height: auto;
    }
  }
}
