#header {
  width: 100%;
  padding: 20px 30px;
  background-color: #fff;
  @media #{$sm} {
    padding: 20px;
  }
  .navbar {
    display: flex;
    align-items: center;
    .navbar__navigation {
      flex: auto;
    }
    @media #{$xx} {
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}
#header.active {
  position: fixed;
  z-index: 99;
  top: 0px;
  @media #{$xx} {
    position: relative !important;
  }
}
.navbar__brand {
  margin-right: 20px;
  @media #{$lg} {
    flex: auto;
  }

  @media #{$xs} {
    width: 30%;
    margin-right: 10px;
  }
  @media #{$xx} {
    width: 70%;
    margin-bottom: 10px;
  }
  img {
    @media #{$xs} {
      width: 80%;
      height: auto;
      max-width: 160px;
    }
    @media #{$xx} {
      width: 50%;
      height: auto;
    }
  }
}

.navbar__navigation {
  transition: all 0.3s;
  @media #{$lg} {
    position: fixed;
    z-index: 99;
    max-width: 300px;
    width: 70%;
    left: -100%;
    top: 0;
    height: 100vh;
    background-color: $black;
  }
  ul {
    display: flex;
    padding: 0;
    margin: 0;
    @media #{$lg} {
      display: block;
      padding: 30px;
    }
    li {
      list-style: none;
      a {
        text-decoration: none;
        padding: 10px 15px;
        color: $light-black;
        text-transform: uppercase;
        font-size: 15px;
        @media #{$lg} {
          color: #fff;
          font-size: 21px;
          margin-bottom: 20px;
          display: block;
          &:hover {
            color: $main2 !important;
          }
        }
        &:hover {
          color: $black;
        }
      }
    }
    .current_page_item {
      a {
        font-weight: 600;
      }
    }
  }
}

.navbar__navigation.active {
  left: 0px;
}

.navbar__icons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  @media #{$sm} {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 150px;
    right: 0px;

    text-align: center;
    padding: 5px;
    background-color: #fff;
  }
  li {
    @media #{$sm} {
      background-color: #fff;
      padding: 5px;
    }
    a {
      padding: 15px;
      @media #{$sm} {
        padding: 0px;
      }
    }
    &:nth-child(3) {
      img {
        @media #{$sm} {
          width: 22px;
          height: auto;
        }
      }
    }
    &:last-child {
      a {
        padding-right: 0px;
        @media #{$lg} {
          padding-right: 15px;
        }
        @media #{$sm} {
          padding-right: 0px;
        }
      }
    }
  }
}

.navbar__swicher {
  padding: 15px;
  @media #{$sm} {
    padding: 0 7.5px;
  }
  @media #{$xx} {
    width: 20%;
    text-align: right;
  }
}

.navbar__toggler {
  display: none;
  padding: 15px;
  @media #{$lg} {
    display: block;
    padding: 7.5px 0 7.5px 7.5px;
  }
  .navbar__toggler__btn {
    width: 23px;
    span {
      transition: all 0.2s linear;
      display: block;
      width: 100%;
      height: 3px;
      background-color: $light-black;
      margin-bottom: 3px;
    }
  }
}
.navbar__toggler.active {
  .navbar__toggler__btn {
    span {
      &:nth-child(2) {
        display: none;
      }

      &:nth-child(1) {
        transform: rotate(45deg) translate(0px, 3px);
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(1px, -4px);
      }
    }
  }
}
