.posts-wraper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  @media #{$md} {
    grid-template-columns: 1fr 1fr;
  }
  @media #{$sm} {
    grid-template-columns: 1fr;
  }
}
.meta {
  margin-bottom: 20px;
}
.post-item {
  header {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .entry-title {
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1.2;
    margin: 20px 0;
    @media #{$lg} {
      font-size: 22px;
    }
    @media #{$sm} {
      font-size: 19px;
    }
    a {
      text-align: left;
      color: $black;
    }
  }
  p {
    font-size: 13px;
    line-height: 20px;
    margin: 0 0 20px;
    @media #{$lg} {
      line-height: 16px;
      font-size: 12px;
    }
  }
  .btn-wraper {
    text-align: right;
  }

  &:hover {
    .entry-title {
      a {
        color: $main2;
      }
    }
    .btn {
      color: #fff;
      background-color: $black;
      svg,
      path,
      line,
      rect {
        stroke: #fff;
      }
    }
  }
}

body.single-post {
  .entry-header {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    // margin-bottom: 20px;
  }
  .img-wraper {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .entry-content {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    text-align: justify;
    // margin-bottom: 50px;
  }
}
.meta-pub {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.meta-cat {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  li {
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.meta-com {
  display: flex;
  justify-content: center;
  // margin-bottom: 20px;
  a {
    text-transform: uppercase;
    &:hover {
      text-decoration: underline;
    }
  }
}
.meta-c {
  > span {
    text-transform: uppercase;
  }
  .meta-cat {
    margin: 0;
  }
  margin-bottom: 20px;
}
.entry-commerts {
  width: 450px;
  max-width: 100%;
  margin: 0 auto;
  #reply-title {
    font-size: 30px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    @media #{$lg} {
      font-size: 22px;
    }
    @media #{$sm} {
      font-size: 19px;
      // line-height: 11px;
    }
  }
}

// bio
#author-bio {
  margin-top: 30px;
  padding: 20px 20px;
  border-top: 1px solid $light;
  border-bottom: 1px solid $light;
  display: flex;
  gap: 10px;
  @media #{$sm} {
    flex-wrap: wrap;
  }

  #author-avatar {
    img {
      // border-radius: 100%;
    }
  }
  #author-details {
    .author-head {
      p.h3 {
        font-size: 21px;
        margin-bottom: 10px;
        a {
          text-decoration: none;
        }
      }
    }
    .author-footer {
      font-size: 13px;
    }
  }
}

.kk-ata {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media #{$sm} {
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .kk-ata__wraper {
    span {
      display: block;
      font-size: 12px;
      color: $light-black;
      margin-bottom: 5px;
    }
  }
  .kksr-muted,
  .kksr-legend {
    font-size: 12px;
  }
}
.comment {
  padding: 20px;
  border-top: 1px solid #000;
  ul {
    padding-left: 150px !important;
    @media #{$sm} {
      padding-left: 50px !important;
    }
  }
}

// .depth-2 {
//   border-top: 1px solid #000;
//   padding-top: 10px;
//   margin-left: 150px;
// }

.comment-author img {
  display: none;
}

.comment .comment-body {
  width: calc(100% - 45px);
}

.comment-body {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  p {
    order: 1;
    width: 100%;
    margin-bottom: 0px;
  }
  .comment-author {
    order: 2;
    font-size: 12px;
  }
  .comment-meta {
    order: 3;
    font-size: 12px;
  }
  .reply {
    order: 4;
    a {
      font-size: 12px;
    }
  }
}
.commentlist {
  list-style: none;
  padding: 0px;
  margin: 0px;
  ul {
    list-style: none;
    padding: 0px;
  }
}

.comment-respond {
  .comment-reply-title {
    font-size: 14px;
    text-align: center;
    small {
      margin-left: 20px;
      a {
        color: #5a86ae;
      }
    }
  }
}
.comment-form {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  .comment-notes {
    display: none;
  }
  input,
  textarea {
    border: 1px solid #e2e2e2;
    margin-bottom: 20px;
  }
  .comment-form-cookies-consent {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    // margin: 0px;
    input {
      width: 20px;
      min-height: 20px;
    }
    label {
      font-size: 12px;
      line-height: 14px;
      margin: 0;
      text-align: justify;
    }
  }
}

.entry-socialmedia-post {
  padding: 20px 0;
  ul {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    list-style: none;
    padding: 0px;
    margin: 20px 0;
  }
}

.entry-recomended {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px 0;
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;
  h3 {
    font-size: 30px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 300;
    @media #{$lg} {
      font-size: 22px;
    }
    @media #{$sm} {
      font-size: 19px;
      // line-height: 11px;
    }
  }
  .row {
    display: flex;
    gap: 20px;
    @media #{$sm} {
      flex-wrap: wrap;
    }
    article {
      width: 33.333%;
      @media #{$sm} {
        width: 100%;
      }
      header {
        max-height: 260px;
        overflow: hidden;
        display: block;
        @media #{$md} {
          max-height: inherit;
        }
      }
    }
  }
}
