body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: $black;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  color: $black;
  font-weight: 300;
}
h1 {
  font-size: 36px;
  font-weight: 300;
  @media #{$sm} {
    font-size: 31px;
  }
}
h2 {
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 300;
  @media #{$lg} {
    font-size: 22px;
  }
  @media #{$sm} {
    font-size: 19px;
    line-height: 11px;
  }
}
p {
  font-size: 14px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
a {
  color: $black;
  text-decoration: none;
  transition: all 0.3s;
  &:hover {
    opacity: 0.8;
  }
}

.entry-header {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  @media #{$sm} {
    padding: 30px 0;
  }
  .entry-title {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 300;
    @media #{$sm} {
      font-size: 31px;
    }
  }
}

.title-page-big {
  font-size: 52px;
  margin-bottom: 20px;
  @media #{$sm} {
    font-size: 31px;
  }
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

.aligncenter {
  text-align: center;
}

.wp-block-embed__wrapper {
  iframe {
    max-width: 100%;
    width: 715px;
    height: 400px;
  }
}

.wp-block-columns {
  margin-bottom: 20px;
}

@media only screen and (max-width: 998px) {
  .meeting {
    padding-bottom: 20px;
    gap: 0px;
  }
  .meeting .btn-wraper {
    display: block;
    text-align: left;
  }
  .bg-section-normal {
    padding-left: 10px;
    padding-right: 10px;
  }
}
