// Query
$xx: "only screen and (max-width: 350px)";
$xs: "only screen and (max-width: 460px)";
$sm: "only screen and (max-width: 768px)";
$md: "only screen and (max-width: 998px)";
$lg: "only screen and (max-width: 1300px)";
$xlg: "only screen and (max-width: 1400px)";
$xxlg: "only screen and (max-width: 1500px)";

$main: #122b4f;
$main2: #528ABF;
$main3: #ffe681;

$black: black;
$light-black: #535353;
$gray: #f7f8fb;
$light: #F7F8FB;
