@import "../../src/css/scss/variable";
.go-lokalizacja {
  margin-bottom: 20px;
  .row {
    display: flex;
    align-items: stretch;
    @media #{$md} {
      flex-wrap: wrap;
    }
    .col {
      &:nth-child(2) {
        width: 60%;
        @media #{$md} {
          width: 100%;
        }
      }
      &:nth-child(1) {
        width: 40%;
        @media #{$md} {
          width: 100%;
        }
      }
    }
  }
  .go-lokalizacja__opis {
    padding: 20px 20px;
  }
  .sticky {
    position: sticky;
    top: 110px;
  }
  iframe {
    display: block;
    min-height: 450px;
  }
}
