@import "../../src/css/scss/variable";
.go-lokalizacja {
  margin-bottom: 40px;
  .row {
    display: flex;
    align-items: stretch;
    @media #{$md} {
      flex-wrap: wrap;
    }
    .col {
      &:nth-child(2) {
        width: 65%;
        @media #{$md} {
          width: 100%;
        }
      }
      &:nth-child(1) {
        width: 35%;
        @media #{$md} {
          width: 100%;
        }
      }
    }
  }
  .go-lokalizacja__opis {
    // padding: 20px 0px;
    padding-right: 30px;
    @media #{$md} {
      padding-right: 0px;
    }
  }
  .sticky {
    position: sticky;
    top: 110px;
  }
  iframe {
    display: block;
    min-height: 450px;
    height: 100%;
  }
}
