.steps {
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .steps {
    padding: 0px;
  }
}
.steps ul {
  list-style: none;
  padding: 0px;
  margin: 0;
}

.steps--6 li {
  width: 16.666%;
}
@media only screen and (max-width: 1300px) {
  .steps--6 li {
    width: 33.333%;
  }
}
@media only screen and (max-width: 998px) {
  .steps--6 li {
    width: 50%;
  }
}
@media only screen and (max-width: 768px) {
  .steps--6 li {
    width: inherit;
  }
}

.steps--5 li {
  width: 20%;
}
@media only screen and (max-width: 1300px) {
  .steps--5 li {
    width: 33.333%;
  }
}
@media only screen and (max-width: 998px) {
  .steps--5 li {
    width: 50%;
  }
}
@media only screen and (max-width: 768px) {
  .steps--5 li {
    width: inherit;
  }
}

.steps--4 li {
  width: 25%;
}
@media only screen and (max-width: 1300px) {
  .steps--4 li {
    width: 33.333%;
  }
}
@media only screen and (max-width: 998px) {
  .steps--4 li {
    width: 50%;
  }
}
@media only screen and (max-width: 768px) {
  .steps--4 li {
    width: inherit;
  }
}

.steps--3 li {
  width: 33.333%;
}
@media only screen and (max-width: 1300px) {
  .steps--3 li {
    width: 33.333%;
  }
}
@media only screen and (max-width: 998px) {
  .steps--3 li {
    width: 50%;
  }
}
@media only screen and (max-width: 768px) {
  .steps--3 li {
    width: inherit;
  }
}

.steps__content ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media only screen and (max-width: 768px) {
  .steps__content ul {
    display: block;
  }
}
.steps__content ul li {
  position: relative;
  padding: 0 10px;
}
.steps__content ul li:before, .steps__content ul li:after {
  content: "";
  position: absolute;
  top: 23px;
  width: 50%;
  height: 1px;
  background-color: black;
}
@media only screen and (max-width: 768px) {
  .steps__content ul li:before, .steps__content ul li:after {
    width: 1px;
    height: 50%;
    left: 33px;
    top: 0px;
  }
}
.steps__content ul li:after {
  right: 0;
}
@media only screen and (max-width: 768px) {
  .steps__content ul li:after {
    top: 50%;
  }
}
.steps__content ul li:before {
  left: 0px;
}
@media only screen and (max-width: 768px) {
  .steps__content ul li:before {
    left: 33px;
  }
}
.steps__content ul li:first-child:before {
  display: none;
}
.steps__content ul li:last-child:after {
  display: none;
}
.steps__content ul li .steps__number {
  text-align: center;
  display: block;
  position: relative;
  z-index: 3;
  margin: 0 auto;
  width: 46px;
  height: 46px;
  font-size: 21px;
  padding: 8px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 100%;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.2s;
}
.steps__content ul li .steps__number:hover {
  background-color: black;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .steps__content ul li .steps__number {
    position: absolute;
    margin: 10px 0;
    min-width: 46px;
  }
}
.steps__content ul li .steps__title {
  cursor: pointer;
  font-size: 21px;
  line-height: 28px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .steps__content ul li .steps__title {
    margin: 10px 0;
    text-align: left;
    padding-left: 70px;
  }
}
.steps__content ul li .steps__desc {
  display: none;
  position: relative;
  padding-top: 20px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .steps__content ul li .steps__desc {
    border: none;
  }
}
@media only screen and (max-width: 768px) {
  .steps__content ul li .steps__desc {
    display: block !important;
    padding-top: 0px;
  }
}
.steps__content ul li .steps__desc:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 1px;
  background-color: black;
}
@media only screen and (max-width: 768px) {
  .steps__content ul li .steps__desc:before {
    display: none;
  }
}
.steps__content ul li .steps__desc:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid black;
}
@media only screen and (max-width: 768px) {
  .steps__content ul li .steps__desc:after {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .steps__content ul li .steps__desc {
    padding-left: 70px;
  }
}
.steps__content ul li.active .steps__number {
  background-color: black;
  color: #fff;
}
.steps__content ul li.active .steps__desc {
  display: block;
}/*# sourceMappingURL=kroki.css.map */