@import "../../src/css/scss/variable";

.steps {
  margin-bottom: 20px;
  @media #{$sm} {
    padding: 0px;
  }
  ul {
    list-style: none;
    padding: 0px;
    margin: 0;
  }
}
.steps--6 {
  li {
    width: 16.666%;
    @media #{$lg} {
      width: 33.333%;
    }
    @media #{$md} {
      width: 50%;
    }
    @media #{$sm} {
      width: inherit;
    }
  }
}
.steps--5 {
  li {
    width: 20%;
    @media #{$lg} {
      width: 33.333%;
    }
    @media #{$md} {
      width: 50%;
    }
    @media #{$sm} {
      width: inherit;
    }
  }
}
.steps--4 {
  li {
    width: 25%;
    @media #{$lg} {
      width: 33.333%;
    }
    @media #{$md} {
      width: 50%;
    }
    @media #{$sm} {
      width: inherit;
    }
  }
}

.steps--3 {
  li {
    width: 33.333%;
    @media #{$lg} {
      width: 33.333%;
    }
    @media #{$md} {
      width: 50%;
    }
    @media #{$sm} {
      width: inherit;
    }
  }
}

.steps__content {
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media #{$sm} {
      display: block;
    }
    li {
      position: relative;
      padding: 0 10px;

      // @media #{$sm} {
      //   display: flex;
      //   align-items: center;
      //   gap: 20px;
      // }

      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 23px;
        width: 50%;
        height: 1px;
        background-color: $black;
        @media #{$sm} {
          width: 1px;
          height: 50%;
          left: 33px;
          top: 0px;
        }
      }
      &:after {
        right: 0;
        @media #{$sm} {
          top: 50%;
        }
      }
      &:before {
        left: 0px;
        @media #{$sm} {
          left: 33px;
        }
      }
      &:first-child {
        &:before {
          display: none;
        }
      }
      &:last-child {
        &:after {
          display: none;
        }
      }

      .steps__number {
        text-align: center;
        display: block;
        position: relative;
        z-index: 3;
        margin: 0 auto;
        width: 46px;
        height: 46px;
        font-size: 21px;
        padding: 8px;
        background-color: #fff;
        border: 1px solid $black;
        border-radius: 100%;
        margin-bottom: 20px;
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
          background-color: $black;
          color: #fff;
        }
        @media #{$sm} {
          position: absolute;
          margin: 10px 0;
          min-width: 46px;
        }
      }
      .steps__title {
        cursor: pointer;
        font-size: 21px;
        line-height: 28px;
        text-align: center;
        @media #{$sm} {
          margin: 10px 0;
          text-align: left;
          padding-left: 70px;
        }
      }
      .steps__desc {
        display: none;
        position: relative;
        padding-top: 20px;
        //  padding-bottom: 20px;
        border-bottom: 1px solid $black;
        margin-bottom: 20px;
        @media #{$sm} {
          border: none;
        }
        @media #{$sm} {
          display: block !important;
          padding-top: 0px;
        }
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0px;
          width: 100%;
          height: 1px;
          background-color: $black;
          @media #{$sm} {
            display: none;
          }
        }
        &:after {
          content: "";
          position: absolute;
          top: 0px;
          left: 50%;
          transform: translate(-50%, 0);
          width: 0;
          height: 0;
          border-left: 12px solid transparent;
          border-right: 12px solid transparent;
          border-top: 12px solid $black;
          @media #{$sm} {
            display: none;
          }
        }
        @media #{$sm} {
          padding-left: 70px;
        }
      }
    }
    li.active {
      .steps__number {
        background-color: $black;
        color: #fff;
      }
      .steps__desc {
        display: block;
      }
    }
  }
}
