@import "../../src/css/scss/variable";
.etapy {
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    li {
      position: relative;

      .etap {
        .etap__content {
          position: relative;
          .pointer {
            position: absolute;
            width: 16px;
            height: 16px;
            background-color: $black;
            border-radius: 100%;
          }
          &:nth-child(odd) {
            padding-bottom: 36px;
            margin-bottom: 20px;

            .pointer {
              bottom: 0px;
            }
          }
          &:nth-child(even) {
            padding-top: 36px;
            margin-top: 20px;
            .pointer {
              top: 0px;
            }
          }
          p {
            font-size: 14px;
            margin: 0;
          }
        }
        .etap__space {
          height: 50px;
          background-color: green;
          opacity: 0.3;
        }
      }
    }
  }
}
